.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import '../../node_modules/open-color/open-color.css';
.weekend {
  background-color: var(--oc-yellow-0) !important;
}

.month-Dec {
  background-color: var(--oc-blue-2);
}
.month-Jan {
  background-color: var(--oc-blue-3);
}
.month-Feb {
  background-color: var(--oc-blue-4);
}
.month-Mar {
  background-color: var(--oc-green-2);
}
.month-Apr {
  background-color: var(--oc-green-3);
}
.month-May {
  background-color: var(--oc-green-4);
}
.month-Jun {
  background-color: var(--oc-red-2);
}
.month-Jul {
  background-color: var(--oc-red-3);
}
.month-Aug {
  background-color: var(--oc-red-4);
}
.month-Sep {
  background-color: var(--oc-yellow-2);
}
.month-Oct {
  background-color: var(--oc-yellow-3);
}
.month-Nov {
  background-color: var(--oc-yellow-4);
}
